.wrap {
    display: flex;
    height: calc(100vh - 64px);
    align-items: center;
    justify-content: center;
}

.content {
    display: grid;
    grid-template-columns: 30% 35% 30%;
    justify-content: center;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
    transition: all ease 0.2s;
    display: inline-block;
}

.link:hover {
    color: #F2F2F3;
}

.navblock {
    max-width: 320px;
    align-self: start;
}

.form {
    justify-self: center;
}

.textactive {
    color: #F2F2F3;
}